@font-face {
  font-family: IranSansWeb;
  src: url("./assets/fonts/IRANSansWeb.ttf") format("truetype");
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  direction: rtl;
}
* {
  font-family: IranSansWeb;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
